### Python Foundation

Q1: What is the output of following expression
    5 + 4 * 9 % (3 + 1) / 6 - 1

In [47]:
out= 5 + 4 * 9 % (3 + 1) / 6 - 1
out

4.0

Q2: Write a program to check if a Number is Odd or Even. Take number as a input from user at runtime.

In [48]:
i= int(input("Enter any integer number: "))
if i%2==0:
    print("Even number")
else:
    print("Odd number")

Enter any integer number: 45
Odd number

Q3: Write a program to display the table by taking the number as input. 
    [Hint : Use print statement inside of a loop]
    
    output should be in format

    5 x 1 = 5
    5 x 2 = 10
    ..

    5 x 10 = 50

In [49]:
b=int(input("Enter any integer number: "))
for i in range(1,11,1):
    print(b, "x", i,'=', b * i)

Enter any integer number: 34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340

Q4: Write a program which will find all numbers between 2000 and 3200 which are divisible by 7 
    but are not a multiple of 5.

In [50]:
a=range(2000,3201,1)
l=[]
for i in a:
    if i % 7 == 0:
        if i % 5 != 0:
            l.append(i)
print(l)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

Q5: Count the elements of each datatype inside the list and display in output
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [22]:
import numpy as np

In [51]:
#import numpy as np
p=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
int_cnt=0
float_cnt=0
str_cnt=0
bool_cnt=0
NaN_cnt=0

for i in p:
    if type(i)==int:
        int_cnt+= 1
    elif type(i)==float:
        float_cnt+= 1
    elif type(i)==str:
        str_cnt+= 1
    elif type(i)==bool:
        bool_cnt+= 1
    elif i==None:
        NaN_cnt+=1
print('int_cnt:',int_cnt,'|float_cnt:',float_cnt,'|str_cnt:',str_cnt,'|bool_cnt:',bool_cnt, '|NaN_cnt:', NaN_cnt)

int_cnt: 5 |float_cnt: 1 |str_cnt: 4 |bool_cnt: 1 |NaN_cnt: 1

Q6: Add all values from the list with numeric datatypes 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [52]:
l=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

x=0
for i in l:
    if type(i)==int or type(i)==float:
        x=x+i
print(x)

21.5

Q7: Concat all str datatypes with hyphen as a delimiter
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [53]:
l

[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7]

In [54]:
x=""
for i in l:
    if type(i)==str:
        x=x+"-"+i
print(x.lstrip("-"))

Py-10-SQL-John

Q8: Write a UDF that takes list as input and returns sum of all numbers 
    (exclude bool) and count of all str 
    [2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 
    
Hint:
-----
def my_func:
    # your code
        
my_func(l1)
# output --> {'Sum': xxx, 'Count_of_Strs': xxx}

In [55]:
l2=[2, 3, 'Py', '10', 1, 'SQL', 5.5, True, 3, 'John', None, 7] 

def my_func(l2):
    sumnum=0
    cnt=0
    for i in l2:
        if type(i)==int or type(i)==float:
            sumnum+=i
        elif type(i)==str:
            cnt+=1
    print('Sum:', sumnum, ', Count_of_Strs:', cnt)
            
my_func(l2)

Sum: 21.5 , Count_of_Strs: 4

Q9: Get only odd numbers from the following list and store the numbers in new list
    li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

    i. Use loops to get the answer
   ii. Use list comprehensions
  iii. Use lambda function with map

In [56]:
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]

# i. Use loops to get the answer
l3=[]
for i in li:
    if i % 2 != 0:
        l3.append(i)
l3

[5, 7, 97, 77, 23, 73, 61]

In [59]:
# ii. Use list comprehensions
[i for i in li if i%2!=0]

[5, 7, 97, 77, 23, 73, 61]

In [60]:
# iii. Use lambda function with map
a=list(filter(lambda x: x%2!=0, li))
print(a)

[5, 7, 97, 77, 23, 73, 61]

Q10: Write a UDF to return the descriptives [sum, count, min, mean, max] for the n number of input 
    numbers.

In [71]:
num=(input("Enter numbers separated by comma\n: ")).split(',')
l=[]
for i in num:
    l.append(float(i.strip()))
#print(l)
def summary(l):
    a=sum(l)
    b=sum(l)/len(l)
    c=len(l)
    d=max(l)
    e=min(l)
    return {'sum':a,'means':b,'cnt':c,'max':d,'min':e}

Enter numbers separated by comma
: 23,34,45

In [72]:
summary(l)

{'sum': 102.0, 'means': 34.0, 'cnt': 3, 'max': 45.0, 'min': 23.0}

#### OR

In [73]:
def summary(*args):
    a=sum(*args)
    b=sum(*args)/len(*args)
    c=len(*args)
    d=max(*args)
    e=min(*args)
    return {'sum':a,'means':b,'cnt':c,'max':d,'min':e}

In [75]:
summary((23,24))

{'sum': 47, 'means': 23.5, 'cnt': 2, 'max': 24, 'min': 23}

Q11: Write an udf to calculate the area of different shapes

Take shape and dimensions as arguments to udf as follows : 

1. square which has side
2. rectangle which has length and width
3. circle which has radius

The shape should be a positional argument and it's dimensions are taken as kwargs

Perform proper validation for the user inputs and then calculate area.

E.g. if shape is square, ensure kwargs has "side" and if so, then you may return the area, else display appropriate error message like "Please enter 'side' for a square"

def fn_area( shape, **kwargs ):
    
    if shape == 'square':
        Area = kwargs['side'] ** 2
    
    return Area
    
fn_area('square', side = 10)

In [64]:
def kwargs_iterate(shape, **kwargs):
    for i, k in kwargs.items():
        if shape=="square" or shape=="Square":
            if i=='side':
                Area = kwargs['side'] ** 2
            else:
                print("You need to enter the 'side=' of a square")
        elif shape=="Rectangle" or shape=='rectangle':
            if i in ('length', 'width'):
                Area=kwargs['length']*kwargs['width']
            else:
                print("You need to enter the 'length=' and 'width=' of a rectangle")
        elif shape=="Circle" or shape=="circle":
            if i == 'radius':
                Area=kwargs['r']**2*22/7
            else:
                print("You need to enter the 'radius=' of a circle")
        return(Area)

In [65]:
kwargs_iterate(shape="rectangle", length=12, width=2)

24

Q12: Write a UDF to reconcile the values within two lists.
    l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
    l2 = ['January', 'February', 'April', 'June', 'October', 'December']

Hint:
-----
def func(l1, l2):
    your code here...
    
Output:
{'Matched': ['January', 'February', 'June', 'December'],
    'Only in l1': ['March', 'May', 'September'],
        'Only in l2': ['April', 'October']}

In [66]:
l1 = ['January', 'February', 'March', 'May', 'June', 'September', 'December']
l2 = ['January', 'February', 'April', 'June', 'October', 'December']

def func(x,y):
    a=set(x)
    b=set(y)
    return {'Matched ':(a.intersection(b)),'Only in l1':a.difference(b),'Only in l2':b.difference(a)}

In [67]:
func(l1,l2)

{'Matched ': {'December', 'February', 'January', 'June'},
 'Only in l1': {'March', 'May', 'September'},
 'Only in l2': {'April', 'October'}}